<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lap Timer</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div id="app">
      
  <div class="text">{{ formattedTime }}</div>
  <button v-if="!isRunning" @click="startTimer">Start</button>
  <button v-else @click="captureLap">Lap</button>
  <button @click="resetTimer">Reset</button>
  <button @click="clearData">Clear Data</button>
  <div v-if="laps.length > 0">
    <ul>
      <li v-for="(lap, index) in laps" :key="index">Lap {{ index + 1 }}: {{ lap }}</li>
    </ul>
  </div>
</div>

    
      
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
new Vue({
  el: '#app',
  data: {
    isRunning: false,
    startTime: 0,
    currentTime: 0,
    laps: [],
  },
  computed: {
    formattedTime() {
      const totalSeconds = Math.floor(this.currentTime / 1000);
      const hours = Math.floor(totalSeconds / 3600);
      const minutes = Math.floor((totalSeconds % 3600) / 60);
      const seconds = totalSeconds % 60;

      return `${this.pad(hours)}:${this.pad(minutes)}:${this.pad(seconds)}`;
    },
  },
  methods: {
    pad(num) {
      return num < 10 ? '0' + num : num;
    },
    startTimer() {
      this.isRunning = true;
      this.startTime = Date.now() - this.currentTime;
      this.updateTime();
    },
    captureLap() {
      const lapTime = this.formattedTime;
      this.laps.unshift(lapTime);
      this.currentTime = 0;
      this.startTime = Date.now();
    },
    resetTimer() {
      this.isRunning = false;
      this.currentTime = 0;
      this.laps = [];
    },
    clearData() {
      this.isRunning = false;
      this.startTime = 0;
      this.currentTime = 0;
      this.laps = [];
    },
    updateTime() {
      if (this.isRunning) {
        this.currentTime = Date.now() - this.startTime;
        setTimeout(this.updateTime, 1000);
      }
    },
  },
});
</script>


</body>
</html>